*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.pattern{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container{
  display: flex;
}

main{
  width: 100%;
  margin-top: 60px;
  /* padding: 20px;
  margin: 20px; */
}

.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.3s;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 25px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: auto ;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background: lightskyblue;
  color: #000;
  transition: 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
  
}

/* ==========For Header============= */

.header{
  /* position: relative;
  right: 0%; */
  margin-left: 0px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.582);
  color: #fff;
  /* width: 100vw; */
  padding: 10px;
  
  /* margin-right: 20px; */

  display: flex;
  align-items: center;

  overflow: clip;
}
.barLink{
  font-size: 20px;
  position: relative;
  text-decoration: none;
  transition: step-end 10s;

  margin: 10px;  
  height: 20px;

  cursor: pointer;

  transition: linear 1s;
  color: #fff;
  border-radius: 20px;
}


/* @media screen{
  .container-header{
    display: flex;
  }
} */

/* .container-header{
  position: fixed;
  top: 0;
} */




.navbar a:hover{
  background: #fff;
  color: #000;
  transition: all 0.3s;
}

.navbar a.active{
  background-color: #fff;
  color: #000;

}

/* ============page==========

.page{
  width: 70vw;
} */

@media (min-width: 1300px) {

  /* .sidebar{
    width: 500px;
    transition: 0.3s;
  } */
  /* .sidebar{
    width: 500px;
    transition: 0.3s;
  } */
  .barLink:first-of-type{
    transition: 1s;
    margin-left: 80%;
    
  }
}